.promo .code-list .nested .delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo .code-list .nested .promo-delete {
    background-color: tomato;
    font-size: 2.8rem;
    padding: .4rem;
    color: white;
    cursor: pointer;
}

.no-promo{
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-promo p {
    padding: 1rem;
    border-radius: 10px;
    background: tomato;
    color: white;
    font-weight: 500;
}